@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');




ul , ol {
    list-style-type:none;
}



.body{
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#logo{
    display: inline-block;
    margin: auto;


}
#menu{
    display: inline-block;
    background-color: black;
    width: 840px;
    height: 110px;
    margin-left: 6px;
    vertical-align: top;
    
    

   
}

#div1{
    
    width: 960px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
}
#menu li{
    display: inline-block;
    margin-top: -16px;
    
}

#menu a{
    font-size: 22px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 600px;
    padding: 0px 14px;
    height: 110px;
    display: inline-block;
    line-height: 110px;
    margin-right: 8px;
    text-align: center;

}
#menu a:hover{
    background-color: rgb(77, 78, 79);
}

#main{
    width: 960px;
    height: 440px;
    background-color: #92c4eb;
    margin-top: 10px;
    position: relative;
}
#maindiv1{
position: absolute;
width: 390px;
height: 270px;
margin-left: 61px;
margin-top: 55px;

font-family: 'Raleway', sans-serif;
font-size: 26px;
color: white;

}
#maindiv2{
position: absolute;
height: 422px;
width: 429px;
margin-top: 17px;
margin-right: 33px;

margin-left: 468px;

}
#maindiv1 h1{
    font-weight: 600px;
    margin-top: 0px;
    margin-left: 25px;
}
#maindiv1 h2 {
    margin-left: 21px;
}
#maindiv2 img{
    transform: scale(1);
    transition: all 1.4s;
}
#maindiv2 img:hover{
    transform: scale(1.1);
}
#ortadiv1{
    width: 960px;
    height: 492px;
    background-color: #1c1c1a;
    text-align: center;
    vertical-align: top;
}
.homebox{
    width: 280px;
    height: 380px;
    text-align: center;
    padding: 50px 0px;
    display: inline-block;
    margin: 0px 16px;
    vertical-align: top;

    
}


.divblokimg{
    height: 220px;
    width: 220px;
    overflow: hidden;
    border-radius: 100%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    
   
    
}
h3{
    color: white;
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    font-weight:bold;

    
}
p{
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight:600;

}

.hareket {
    transform: scale(1);
    transition: all 1.5s;
    opacity: 1;
}
.hareket:hover{
    transform: scale(1.2);
    opacity: 0.8;
}
@media screen and (max-width:960px) {
    #menu    {
        width:100%;
    }
    #maindiv1{
        width:100%;
    }
    #maindiv2{
        width:100%;
    }
}

.video1{
    width: 960px;
    height: 492px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    
}
#video11{
    width: 960px;
    height: 490px;
}

.footer{
    width: 960px;
    height: 210px;
    background-color: #f6f6f6;
    margin-top: 8px;
}


    
   
     
    #box {
        position: relative;
        display: inline-block;
    }
     
    #box .fa-search {
        position: absolute;
        top: 14px;
        left: 12px;
        font-size: 20px;
        

    }
     
    #search {
        width: 328px;
        box-sizing: border-box;
        border: 2px ;
        border-radius: 4px;
        font-size:18px;
        background-color: #ededed;
        height: 48px;
        margin-left: 28px;
        margin-top: 45px;
        display: inline-block;

    }
    h6{
        font-family: 'Raleway', sans-serif;
        font-size: 22px;
        font-weight: 700;
        display: inline-block;
        margin-left: 36px;
    }
    #boyut{
        height: 30px;
        width: 30px;
        margin-left: 240px;
        padding: 4px;
        
    }
    #boyut2{
        height: 35px;
        width: 35px;
        margin-bottom: 1px;
       
        
    }
    .myButton {
        background-color:#737373;
        border-radius:6px;
        border:1px solid #737373;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:22px;
        font-weight:bold;
        padding:8px 26px;
        text-decoration:none;
    }
    .myButton:hover {
        background-color:#383c3c;
    }
    .myButton:active {
        position:relative;
        top:1px;
    }
    #ptelif{
        color: #000000;
        text-align: center;
        font-size: 16px;
        font-weight: 700;
        font-family: 'Raleway', sans-serif;
        margin-top: 40px;
    }
    
     
    